@import "imprensa/default.css";

@custom-variant dark (&:where(.dark, .dark *));

* {
  --font-sans: "Geist Variable", sans-serif;
  --font-mono: "Geist Mono Variable", monospace;
  --areia-primary: #642dff;
}

[data-hero-snippet] .shiki {
  @apply bg-areia-background!;
}
